<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963565101225-u22ecrljm6s09qg3hkobq0dieom44oha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963565101225-u22ecrljm6s09qg3hkobq0dieom44oha</string>
	<key>API_KEY</key>
	<string>AIzaSyCXwzgUmzZW8Fk9MuiFBpcHUHngxmchNCw</string>
	<key>GCM_SENDER_ID</key>
	<string>963565101225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SnuScraperClient</string>
	<key>PROJECT_ID</key>
	<string>snuscraper-fb1be</string>
	<key>STORAGE_BUCKET</key>
	<string>snuscraper-fb1be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963565101225:ios:44944ddf0d1ac6437a89b8</string>
	<key>DATABASE_URL</key>
	<string>https://snuscraper-fb1be.firebaseio.com</string>
</dict>
</plist>